---
---

<a href='#' class='group relative flex'>
  <svg height='30' class='cursor-pointer' viewBox='0 0 40 28' fill='none'>
    <path
      d='M1.25 1.5H38.75'
      class='stroke-white stroke-2'
      stroke-linecap='round'></path>
    <path
      d='M1.25 14H38.75'
      class='stroke-white stroke-2'
      stroke-linecap='round'></path>
    <path
      d='M1.25 26.5H38.75'
      class='stroke-white stroke-2'
      stroke-linecap='round'></path>
  </svg>
  <span
    class='transition-opactiy text-md absolute -right-4 -bottom-16 m-4 whitespace-nowrap rounded-sm bg-white px-4 py-2 font-bold text-dark opacity-0 group-hover:opacity-100'
    >Coming soon!</span
  >
</a>
