---
import {Image} from 'astro:assets'
import Logo1 from './hajnalig-logo.png'
import Logo2 from './hello_parks-logo.png'
---

<footer class='flex flex-col gap-12 p-4 w-full md:max-w-7xl flex-1 max-h-[25vh]'>
  <div class='flex gap-4 w-full items-center justify-center flex-1'>
    <Image src={Logo1} alt='Hajnalig' class='w-1/4 md:w-32' sizes='300px' />
    <Image src={Logo2} alt='Hello Parks' class='w-1/4 md:w-24' sizes='300px' />
  </div>
</footer>
