---
import {Icon} from 'astro-icon/components'
import {IS_PROD} from '~constants/env'
import Head from '~layouts/Head.astro'
import '~styles/base.css'

export interface Props {
  class?: string
  title?: string
  description?: string
}

const {class: mainClasses, title = 'Hajnalig', description = 'Hajnalig'} = Astro.props
---

<!doctype html>
<html lang='hu' class='scroll-smooth bg-[#FFF0E8]'>
  <head>
    <Head title={title} description={description} />
    {IS_PROD && <script defer='defer' data-domain='whocards.cc' src='/js/script.js' />}
  </head>
  <body
    class='m-0 flex min-h-screen flex-col font-sans selection:bg-primary-dark selection:text-primary-light scrollbar-hide'
  >
    <nav
      class='navbar fixed h-16 justify-between pl-0 pr-4 backdrop-blur md:px-4 z-10 text-darkest'
    >
      <a href='/events/hajnalig' aria-label='homepage link'>
        <Icon name='logo-plain' class='w-48 hover:text-primary-dark' />
      </a>
    </nav>
    <main
      class='flex min-h-screen pt-16 w-full flex-col items-center justify-center text-darkest'
      class:list={[mainClasses]}
    >
      <slot />
    </main>
  </body>
</html>
