---
const {href, title, selected} = Astro.props
---

<li>
  <a
    href={href}
    class:list={[
      'font-bold',
      selected
        ? 'text-primary-light pointer-events-none'
        : 'btn-ghost hover:text-primary-light hover:opacity-80 active:opacity-100',
    ]}>{title}</a
  >
</li>
