---
const {class: className} = Astro.props
---

<!-- <li
  class:list={[
    'btn flex justify-center group bg-gradient-to-r from-primary-light to-primary-dark duration-700 border-0 overflow-hidden',
    className,
  ]}
>
  <a
    target='_blank'
    href='https://opencollective.com/whocards'
    class='text-xl font-extrabold uppercase leading-none tracking-tight text-dark group-hover:scale-125'
    >Pre Order</a
  >
</li> -->
