/* fix for mobile https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/ */
html {
  min-height: 100vh;
  min-height: 100dvh;
  min-height: -webkit-fill-available;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  min-height: -webkit-fill-available;
}

@font-face {
  font-family: 'aptly';
  src: url('/fonts/aptly_medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'aptly';
  src: url('/fonts/aptly_medium.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.btn {
  @apply rounded-full border-none font-dm-sans text-xl;
}

.btn:not(.btn-circle) {
  @apply h-14 w-full md:w-64 sm:landscape:w-64;
  text-transform: none;
}

.btn-primary {
  @apply bg-yellow-400 text-darker hover:bg-yellow-500;
}

.btn-secondary {
  @apply bg-gray text-white hover:bg-gray hover:text-yellow-500 active:bg-gray  md:w-64 sm:landscape:w-64;
}
