---
export const prerender = true
import Layout from '~layouts/Layout.astro'
import questions from 'public/data/questions.json'

export async function getStaticPaths() {
  // loop through questions
  return Object.entries(questions).map(([id, entries]) =>
    // loop through languages in each question
    Object.entries(entries).map(([lang, question]) => ({
      params: { id, lang },
      props: { question },
    }))
  )
}

const { question } = Astro.props
---

<Layout title='question'>
  <main>
    <h1>{question}</h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  h1 {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    max-width: 50vw;
    font-size: 5vw;
  }
</style>
