---
import Icon from 'astro-icon'
---

<label id='btn-full-screen' class='btn-game swap swap-rotate relative'>
  <input type='checkbox' id='full-screen' />
  <Icon name='ps:full-screen' class='h-6 w-6 swap-off absolute' />
  <Icon name='ps:resize' class='h-6 w-6 swap-on absolute' />
</label>

<script>
  interface Elmnt extends HTMLElement {
    webkitRequestFullscreen(): void
  }
  interface Doc extends Document {
    webkitExitFullscreen(): void
    webkitFullscreenElement: Element
  }
  document.getElementById('btn-full-screen')?.addEventListener('click', () => {
    const doc = document as Doc
    const el = doc.documentElement as Elmnt
    // TODO test on more devices
    // safari
    if (!!doc.webkitExitFullscreen) {
      if (!doc.webkitFullscreenElement) {
        el.webkitRequestFullscreen()
      } else {
        doc.webkitExitFullscreen()
      }
    } else {
      // chrome / firefox
      if (!doc.fullscreenElement) {
        if (el.requestFullscreen) {
          el.requestFullscreen()
        } else {
          doc.exitFullscreen()
        }
      }
    }
  })
</script>
