---
import {Icon} from 'astro-icon/components'
import ShareButton from './Share.astro'
// import FullScreen from './FullScreen.astro'

interface Props {
  language: string | undefined
}

const {language} = Astro.params
---

<div class='group fixed bottom-4 mx-auto flex h-12 flex-col items-center justify-center'>
  <div
    id='controls'
    class='flex w-full max-w-2xl items-center justify-between gap-4 transition-all duration-500'
  >
    <!-- back button -->
    <a id='prev' class='btn-game enabled' href='' aria-label='previous question'>
      <Icon name='ic:outline-arrow-back' class:list='h-10 w-10' />
    </a>
    <!-- full screen button -->
    <!-- <FullScreen client:only /> -->
    <!-- language button -->
    <button
      onclick='langsModal.showModal()'
      aria-label='change language'
      class:list={[
        'btn btn-circle who-modal uppercase bg-gray hover:bg-gray hover:text-primary-light',
        {'w-fit px-4': language?.includes('-')},
      ]}>{language}</button
    >
    <!-- share button -->
    <ShareButton />
    <!-- next button -->
    <a id='next' class='btn-game enabled' href='' aria-label='next question'>
      <Icon name='ic:outline-arrow-forward' class='h-10 w-10' />
    </a>
  </div>
</div>

<style>
  a.disabled {
    @apply pointer-events-none text-gray opacity-50;
  }
  a.enabled {
    @apply hover:bg-transparent hover:text-yellow-500;
  }
</style>

<script>
  import {setupGameControls, toggleGameControls} from './gameControls'
  setupGameControls()
  toggleGameControls()
</script>
