---
import Icon from 'astro-icon'
const buttons = [
  {share: 'facebook', icon: 'ri:facebook-fill'},
  {share: 'twitter', icon: 'mdi:twitter'},
  {share: 'linkedin', icon: 'mdi:linkedin'},
  {share: 'email', icon: 'ic:baseline-email'},
]
---

<button tabindex='0' class='btn-game' id='share'>
  <Icon name='ic:twotone-share' class='h-7 w-7' />
</button>

<div class='hidden' id='share-dropdown'>
  <!-- main share button -->
  <label tabindex='0' class='btn-game active:border-none'>
    <Icon name='ic:twotone-share' class='h-7 w-7' />
  </label>
  <!-- sharing buttons for desktop -->
  <div
    id='share-menu'
    tabindex='0'
    class='dropdown-content w-12 rounded-full bg-gray text-white shadow'
  >
    {
      buttons.map((btn) => (
        <button
          class='btn-ghost btn-circle btn hover:text-primary-light'
          data-sharer={btn.share}
          aria-label={'share ' + btn.share}
        >
          <Icon name={btn.icon} class='h-6 w-6' />
        </button>
      ))
    }
    <!-- handle different -->
    <button
      class='swap btn-ghost swap-flip btn-circle btn hover:text-primary-light'
      data-sharer='copy'
    >
      <Icon name='fa-solid:clone' class='swap-off h-5 w-5' />
      <Icon name='zondicons:checkmark' class='swap-on h-5 w-5' />
    </button>
  </div>
</div>

<script>
  import {idsStore} from '~stores/Game.store'
  import {socialShare} from '~utils'

  const title = 'Who cards - Question ' + idsStore.get().current
  const url = window.location.toString()
  // const url = 'https://calmly.whocards.cc' + window.location.pathname

  // use navigator share on mobile
  if (!!navigator.share) {
    document.getElementById('share-dropdown')!.remove()
    document.getElementById('share')!.addEventListener('click', (e) => {
      e.preventDefault()
      e.stopPropagation()
      navigator.share({
        title,
        url,
      })
    })
  } else {
    document.getElementById('share')!.remove()
    document.getElementById('share-dropdown')!.className = 'dropdown dropdown-top dropdown-hover'
    // share
    const els = document.getElementById('share-menu')?.children
    if (els) {
      for (let i = 0; i < els.length; i++) {
        const el = els[i] as HTMLButtonElement
        const social = el.dataset.sharer
        const isCopy = social === 'copy'

        el.addEventListener('click', () => {
          el.classList.add('pointer-events-none')

          if (isCopy) {
            el.classList.add('swap-active')
          }

          socialShare(social, title, url)

          setTimeout(() => {
            el.classList.remove('pointer-events-none')
            if (isCopy) {
              el.classList.remove('swap-active')
            }
          }, 2000)
        })
      }
    }
  }
</script>
