---
import Layout from '~layouts/Layout.astro'
---

<Layout>
  <div class='grid gap-4 self-center px-4 text-white'>
    <h1 class='text-2xl'>Nothing found here</h1>
    <p>Please try another page</p>
    <button class='btn-secondary btn' onclick='window.history.go(-1); return false'>Back</button>
  </div>
</Layout>
