---
import Layout from '~layouts/Layout.astro'
import {Icon} from 'astro-icon'
const rotateWords = ['HEART', 'MIND', 'BODY', 'WALLET', 'YOURSELF', '']
---

<Layout>
  <div class='hero min-h-screen font-title'>
    <div class='hero-content text-center'>
      <div class='max-w-6x'>
        <h1 class='text-gradient text-8xl font-bold leading-tight'>
          Let's keep spreading
          <br />
          the magic of
        </h1>
        <Icon name='logo' class='mt-10 mb-20 mx-auto h-24' />
        <h2 class='text-8xl font-bold'>
          Dare to be Curious?<br />
          <div class='flex justify-center'>
            <div id='rotator' class='mt-20 text-center leading-[0]'>
              {
                rotateWords.map((word, idx) => (
                  <div class:list={[idx ? 'hidden' : '', 'rotate']}>{word}</div>
                ))
              }
            </div>
            <div class='mt-8'>?</div>
          </div>
        </h2>
      </div>
    </div>
  </div>
</Layout>

<script>
  import rotateText from '~styles/rotateText'
  rotateText()
</script>
