---
import {PreOrderCards} from '~components/Purchase/PreorderCards'
import Layout from '~layouts/Layout.astro'
---

<Layout title='Preorder'>
  <PreOrderCards />
  <a href='/thanks'>thanks</a>
</Layout>
