---
import Icon from 'astro-icon'

interface Props {
  language: string | undefined
}

const {language} = Astro.params
---

<div class='flex w-full max-w-2xl items-center justify-between justify-self-center'>
  <!-- back button -->
  <a id='prev' class='game-btn enabled' href=''>
    <Icon name='ic:outline-arrow-back' class:list='h-10 w-10' />
  </a>
  <div class='flex gap-6'>
    <!-- full screen button -->
    <button
      id='full-screen'
      class='game-btn'
      onclick='document.documentElement.requestFullscreen()'
    >
      <Icon name='ps:full-screen' class='h-6 w-6' />
    </button>
    <!-- language button -->
    <button
      class:list={[
        'btn btn-circle who-modal uppercase bg-gray hover:bg-gray hover:text-primary-light',
        {'w-fit px-4': language?.includes('-')},
      ]}>{language}</button
    >
    <!-- share button -->
    <button id='share' class='hidden'>
      <Icon name='ic:twotone-share' class='h-6 w-6' />
    </button>
  </div>
  <!-- next button -->
  <a id='next' class='game-btn enabled' href=''>
    <Icon name='ic:outline-arrow-forward' class='h-10 w-10' />
  </a>
</div>

<style>
  .game-btn {
    @apply btn-ghost btn-circle btn transition-all duration-500 ease-linear;
  }
  a.disabled {
    @apply pointer-events-none text-gray opacity-50;
  }
  a.enabled {
    @apply hover:bg-transparent hover:text-yellow-500;
  }
</style>

<script>
  document.getElementById('full-screen')?.addEventListener('click', () => {
    document.documentElement.requestFullscreen()
  })
</script>

<script>
  import {initPage, idsStore, GameStatus} from '~stores/Game.store'
  import {getCurrentQuestionId, getQuestionUrl} from '~utils'

  initPage(getCurrentQuestionId())

  const dirs = ['prev', 'next']
  const els = {
    [dirs[0]]: document.getElementById(dirs[0])!,
    [dirs[1]]: document.getElementById(dirs[1])!,
  }
  const keys: {[key: string]: string} = {
    ArrowLeft: dirs[0],
    ArrowRight: dirs[1],
  }

  dirs.forEach((dir) => {
    const qid = idsStore.get()[dir as keyof GameStatus]

    if (qid) {
      els[dir].setAttribute('href', getQuestionUrl(qid)!)
    } else {
      els[dir].classList.replace('enabled', 'disabled')
    }
  })

  const keyPress = ({key}: KeyboardEvent) => {
    if (Object.keys(keys).includes(key)) {
      els[keys[key]].click()
    }
  }

  document.addEventListener('keydown', keyPress)

  // share button
  if (!!navigator.share) {
    const shareEl = document.getElementById('share')
    shareEl?.classList.replace('hidden', 'game-btn')
    shareEl?.addEventListener('click', () => {
      navigator.share({
        title: 'Who cards - Question ' + getCurrentQuestionId(),
        url: window.location.toString(),
      })
    })
  } else {
    // TODO add share modal
  }
</script>
