---
import type {Language} from '~types'
import Layout from '~layouts/Layout.astro'

interface Props {
  language: Language
}
---

<Layout>
  <section
    class='m-4 flex flex-col items-center justify-center gap-8 text-center lg:mt-20 lg:gap-12'
  >
    <h1
      class='max-w-xs text-5xl font-extrabold leading-none tracking-tight text-white xl:max-w-none xl:text-6xl'
    >
      An invitation to open up!
    </h1>
    <p class='text-xl font-light text-white lg:max-w-2xl'>
      We are so happy to have you here!<br />
      Come play with the WhoCards game or take a look around!
    </p>
    <div class='phone-landscape:flex-row flex w-full flex-col items-center gap-8 md:flex-row'>
      <a id='play' class='btn-primary btn'>Play</a>
      <button class='who-modal btn-secondary btn'> Choose Language</button>
    </div>
  </section>
</Layout>

<script>
  import {initGame, idsStore} from '~stores/Game.store'
  import {getFirstQuestionUrl} from '~utils'

  initGame()

  document.getElementById('play')?.setAttribute('href', getFirstQuestionUrl(idsStore.get().next))
</script>
