---
import Layout from '~layouts/Layout.astro'
---

<Layout>
  <section
    class='m-4 flex flex-col justify-center gap-6 text-center md:mb-16 md:max-w-[80vw] md:gap-8 lg:gap-12'
  >
    <h1
      class='text-gradient font-aptly text-7xl font-extrabold leading-none tracking-tight text-white md:text-8xl xl:text-9xl'
    >
      <span class='whitespace-nowrap'>Dare to</span>
      <span class='whitespace-nowrap'>be curious?</span>
    </h1>
    <p
      class='max-w-[85%] self-center text-xl text-slate-300 md:max-w-[70%] md:text-2xl lg:text-4xl'
    >
      From our hearts to yours we hope the WhoCards bring more connection into your life<br /><span
        class='text-white'>🙏</span
      >
    </p>
    <div
      id='play-wrapper'
      class='flex flex-col items-center gap-8 transition-opacity duration-500 md:flex-row md:justify-center'
    >
      <a id='play' class='btn-primary btn'>Play</a>
      <button class='who-modal btn-secondary btn'> Choose Language</button>
    </div>
  </section>
</Layout>

<script>
  import {initGame} from '~stores/Game.store'
  import {getCurrentQuestionUrl} from '~utils'

  initGame()

  document.getElementById('play')?.setAttribute('href', getCurrentQuestionUrl())
  // document.getElementById('play-wrapper')?.classList.remove('opacity-0')
</script>
