---
import type {Language} from '#types/Questions'
import Layout from '~layouts/Layout.astro'
import languages from '~data/languages.json'
import {PlayStartButton} from '~components/Button'

interface Props {
  language: Language
}

const {language: languageCode} = Astro.props
const language = languages[languageCode]
---

<Layout title=''>
  <section>
    <div
      class='lg:mt-20 md:mt-16 mx-4'>
      <div class='flex flex-col items-center gap-8 md:gap-12 text-center'>
        <h1
          class='max-w-2xl text-5xl font-extrabold leading-none tracking-tight text-white md:max-w-xs lg:max-w-md xl:text-6xl'>
          An invitation to open up!
        </h1>
        <p class='lg:max-w-2xl text-xl font-light text-white'>
          We are so happy to have you here!<br />
          Come play with the WhoCards game or take a look around!
        </p>
        <div class="flex flex-col landscape:flex-row md:landscape:flex-col lg:landscape:flex-row lg:flex-row w-full gap-8 items-center">
          <PlayStartButton client:only />
          <!-- TODO add language changer opener small text -->
          <btn
            href='#'
            class='btn btn-secondary'>
            Choose Language
          </btn>
        </div>
      </div>
    </div>
  </section>
</Layout>
