---
import type {Language} from '#types/Questions'
import Layout from '~layouts/Layout.astro'

interface Props {
  language: Language
}
---

<Layout>
  <section class='mx-4 flex flex-col items-center gap-8 text-center md:mt-16 md:gap-12 lg:mt-20'>
    <h1
      class='max-w-xs text-5xl font-extrabold leading-none tracking-tight text-white xl:max-w-none xl:text-6xl'
    >
      An invitation to open up!
    </h1>
    <p class='text-xl font-light text-white lg:max-w-2xl'>
      We are so happy to have you here!<br />
      Come play with the WhoCards game or take a look around!
    </p>
    <div
      class='flex w-full flex-col items-center gap-8 lg:flex-row landscape:flex-row md:landscape:flex-col lg:landscape:flex-row'
    >
      <a id='play' class='btn-primary btn'> Play</a>
      <button class='close-modal btn-secondary btn'> Choose Language</button>
    </div>
  </section>
</Layout>

<script>
  import {initGame, idsStore} from '~stores/Game.store'
  import {getQuestionUrl} from '~utils'

  initGame()

  document.getElementById('play')?.setAttribute('href', getQuestionUrl(idsStore.get().next))
</script>
