---
import Layout from '~layouts/Layout.astro'
import Button from './ui/Button.astro'
---

<Layout showLangModal>
  <section
    class='m-4 flex flex-col justify-center gap-6 text-center md:mb-16 md:max-w-[80vw] md:gap-8 lg:gap-12 phone-landscape:scale-75 short:mb-0 short:scale-75'
  >
    <h1
      class='text-gradient font-title text-7xl font-extrabold leading-none tracking-tight text-white md:text-8xl xl:text-9xl'
    >
      <span class='whitespace-nowrap'>Dare to</span>{' '}
      <span class='whitespace-nowrap'>be Curious?</span>
    </h1>
    <p
      class='max-w-[85%] self-center text-xl italic text-slate-300 md:max-w-[70%] md:text-2xl lg:text-4xl'
    >
      From our hearts to yours we hope the WhoCards bring more connection into your life
    </p>
    <div
      id='play-wrapper'
      class='flex flex-col items-center gap-8 transition-opacity duration-500 md:flex-row md:justify-center'
    >
      <a id='play' class='btn-primary btn'>Play</a>
      <a class='btn-secondary btn' href='/preorder'> Pre-Order cards!</a>
    </div>
  </section>
</Layout>

<script>
  import {initGame} from '~stores/Game.store'
  import {getCurrentQuestionUrl} from '~utils'

  initGame()

  document.getElementById('play')?.setAttribute('href', getCurrentQuestionUrl())
  // document.getElementById('play-wrapper')?.classList.remove('opacity-0')
</script>
