---
import Logo from '~icons/Logo.astro'
import Menu from '~icons/Menu.astro'
import {DEFAULT_LANGUAGE} from '~utils/constants'
const home = Astro.url.pathname.slice(1, 3) || DEFAULT_LANGUAGE
---

<nav class='fixed top-0 z-10 flex h-16 w-full items-center justify-between bg-transparent px-6'>
  <a href={`/${home}`}>
    <Logo height='30' width='145' />
  </a>
  <div class='flex gap-4'>
    <Menu />
  </div>
</nav>
