---
import Logo from '~icons/Logo.astro'
import {getCurrentLanguage} from '~utils/language'
const home = getCurrentLanguage(Astro.url.pathname)
---

<nav class='min-h-16 flex h-16 w-full items-center justify-between bg-transparent px-6'>
  <a href={`/${home}`}>
    <Logo height='30' width='145' />
  </a>
  <!-- <div class='flex gap-4'>
    <Menu />
  </div> -->
</nav>
