---
import Logo from '~icons/Logo.astro'
import Menu from '~icons/Menu.astro'
---

<nav
  class='fixed top-0 z-50 flex h-16 w-full items-center justify-between bg-transparent px-6'>
  <Logo height='30' width='145' />
  <Menu />
</nav>
