---
import Layout from '~layouts/Layout.astro'
import { DATA_URL } from '~utils/constants'
import { fetchLangs } from '~utils'
import Card from '~components/Card.astro'

const langs = await fetchLangs()

export async function getStaticPaths() {
  const data = await fetch(DATA_URL + '/questions.json').then((r) => r.json())

  // loop through questions
  return Object.entries(data).map(([id, questions]) => ({
    params: { id },
    props: { questions },
  }))
}

const { questions } = Astro.props
const { id } = Astro.params
---

<Layout title='question'>
  <main>
    <ul>
      <h1>Question {id}</h1>
      {
        Object.entries(questions).map(([lang, question]) => (
          <Card
            body={question as string}
            title={lang}
            href={`/questions/${lang}/${id}`}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
</style>
