---
export const prerender = true
import Layout from '~layouts/Layout.astro'
import Card from '~components/Card.astro'
import data from 'public/data/questions.json'

export async function getStaticPaths() {
  // loop through questions
  return Object.entries(data).map(([id, questions]) => ({
    params: { id },
    props: { questions },
  }))
}

const { questions } = Astro.props
const { id } = Astro.params
---

<Layout title='all question'>
  <main>
    <ul>
      <h1>Question {id}</h1>
      {
        Object.entries(questions).map(([lang, question]) => (
          <Card
            href={`/questions/${lang}/${id}`}
            title={lang}
            body={question as string}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
</style>
