/* fix for mobile https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/ */
html {
  height: 100%;
  height: 100dvh;
}
body {
  @apply h-full;
}
.btn {
  @apply rounded-full border-none font-dm-sans text-xl;
}

.btn:not(.btn-circle) {
  @apply h-14 w-full md:w-64 sm:landscape:w-64;
  text-transform: none;
}

.btn-primary {
  @apply bg-yellow-400 text-darker hover:bg-yellow-500;
}

.btn-secondary {
  @apply bg-gray text-white hover:bg-gray hover:text-yellow-500 active:bg-gray  md:w-64 sm:landscape:w-64;
}
