---
import Navigation from '~components/Navigation.astro'
import LanguageSwitcher from '~components/Modal/LanguageSwitcher.astro'
import Head from './Head.astro'

import '~styles/base.css'
---

<!DOCTYPE html>
<html lang='en' class='scroll-smooth bg-dark'>
  <head>
    <Head />
  </head>
  <body class='m-0 flex flex-col bg-hero bg-fixed bg-center bg-no-repeat font-sans text-white'>
    <Navigation>
      <main class='flex min-h-full w-full flex-col items-center justify-center'>
        <slot />
      </main>
    </Navigation>
    <LanguageSwitcher />
    <style is:global></style>
  </body>
</html>
