---
import Navigation from '~components/Navigation.astro'
import LanguageSwitcher from '~components/Modal/LanguageSwitcher.astro'
import Head from './Head.astro'

import '@fontsource/nunito'
import '@fontsource/dm-sans'
import '~styles/base.css'
---

<!DOCTYPE html>
<html lang='en' class='bg-dark'>
  <head>
    <Head />
  </head>
  <body class='flex flex-col bg-hero bg-fixed bg-center bg-no-repeat text-white'>
    <Navigation>
      <main class='flex h-full w-full items-center justify-center'>
        <slot />
      </main>
    </Navigation>
    <LanguageSwitcher />
    <style is:global></style>
  </body>
</html>
