---
export interface Props {
  title: string
  subtitle: string
  description: string
  class?: string
}

const {title, subtitle, description, class: classes} = Astro.props
---

<div id={subtitle.replaceAll(' ', '-')} class:list={['flex flex-col px-5 pt-24 gap-4', classes]}>
  <h3 class='text-sm font-semibold uppercase leading-snug tracking-wide text-primary-dark'>
    {subtitle}
  </h3>
  <h2 class='text-3xl font-medium font-title leading-10'>{title}</h2>
  <p class='text-sm leading-snug text-gray-dark pb-2'>{description}</p>
  <slot />
</div>
<slot name='outside' />
