---
import type {HTMLAttributes} from 'astro/types'
import type {ZodIssue} from 'zod'

interface Props extends HTMLAttributes<'input'> {
  error?: ZodIssue
  name: string
  title?: string
}

const {error, type = 'text', title, name, required, ...props} = Astro.props
---

<div class='flex flex-col gap-2 pb-2.5'>
  <label for={name} class='text-start capitalize text-base font-medium'
    >{title ?? name}{required ? ' *' : ''}</label
  >
  <input
    {...props}
    class='w-full bg-transparent py-3 px-4.5 border border-gray placeholder:text-gray-dark placeholder:capitalize rounded-xl'
    placeholder={`Enter ${title ?? name}`}
  />
  <p class='text-xs text-red'>{error?.message ?? <>&nbsp;</>}</p>
</div>
