---
import questions from '~data/questions.json'
import QuestionLayout from '~layouts/QuestionLayout.astro'

export async function getStaticPaths() {
  // loop through questions
  return Object.entries(questions).map(([id, entries]) =>
    // loop through languages in each question
    Object.entries(entries).map(([language, question]) => ({
      params: {id, language},
      props: {question},
    }))
  )
}

const {question} = Astro.props
---

<QuestionLayout>
  <h1 class='phone:text-2xl self-center text-5xl text-white md:max-w-[80vw] md:text-7xl'>
    {question}
  </h1>
</QuestionLayout>
