---
import Layout from '~layouts/Layout.astro'
import questions from '~data/questions.json'
import languages from '~data/languages.json'
import type {Language, QuestionId} from '#types/Questions'
import {PlayMoveButton} from '~components/Button'
import Icon from 'astro-icon'
import QuestionLayout from '~layouts/QuestionLayout.astro'

export async function getStaticPaths() {
  // loop through questions
  return Object.entries(questions).map(([id, entries]) =>
    // loop through languages in each question
    Object.entries(entries).map(([language, question]) => ({
      params: {id, language},
      props: {question},
    }))
  )
}

const {question} = Astro.props
const {id, language} = Astro.params
---

<QuestionLayout>
  <h1 class='self-start text-5xl text-white md:text-7xl'>{question}</h1>
</QuestionLayout>
